<nav class="barra-categorias">
    @for (int i = 1; i <= 10; i++)
    {
    <a class="item" href="#@i">
        
        <div class="navegacion"  >
            <img src="Iconos/Busqueda.png" />
            <h6>Categoría</h6>
        </div>
    </a>
        
    }
</nav>
