<nav class="barra-categorias">
    @for (int i = 0; i < 10; i++)
    {
    <div class="item">
        
        <a class="navegacion" href="" >
            <img src="Iconos/Busqueda.png" />
            <h6>Categoría</h6>
        </a>
    </div>
        
    }

</nav>
