<div class="carousel-contenedor">
    @for (int i = 0; i < 5; i++)
    {
        if (i == 1)
        {
            <input type="radio" id="img @(i+1)" name="images" checked />
            <img />
            <label class="prev" for="img 5"><span></span></label>
            <label class="next" for="img @(i+2)"><span></span></label>
        }
        else
        {
            <input type="radio" id="img @(i+1)" name="images" />
            <img />
            <label class="prev" for="img 5"><span></span></label>
            <label class="next" for="img @(i+2)"><span></span></label>
        }

    }

</div>
