body {
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: black; }

.navegacion-top {
  width: 100%;
  height: auto;
  background: #666666; }
  .navegacion-top .barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .navegacion-top .barra-navegacion .buscador {
      height: 20px;
      width: 40%;
      background-color: gainsboro;
      border: none; }
    .navegacion-top .barra-navegacion .barra-navegacion-menu {
      display: inline-flex;
      list-style: none;
      height: 40px;
      width: 20%;
      justify-content: flex-start;
      align-items: center; }
      .navegacion-top .barra-navegacion .barra-navegacion-menu .menu-item {
        margin: auto 10px;
        font-size: 40px; }
