<nav class="barra-navegacion">
    <a class="logo" href="">
        <img />
        Logo
    </a>
    <div class="buscador">
        <input type="text" class="buscador-texto" />
        <a class="buscador-boton" href="">
            <img src="Iconos/Busqueda.png"/>
        </a>
    </div>
    
    @*<button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>*@
    <NavLink class="carrito" href="">
        <span class="oi oi-cart">Carro</span>
    </NavLink>
    <NavLink class="usuario" href="">
        <span class="oi oi-person" aria-hidden="true">Usuario</span>
        <ul class="sub-menu-usuario">
            <li class="item">
                <a>
                    <img />
                    Iniciar Sesión
                </a>

            </li>
            <li class="item">
                <a>
                    <img />
                    Mis Favoritos
                </a>
            </li>
        </ul>
    </NavLink>

</nav>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

