@page "/"

    <div class="carousel-principal">
        <Carousel ImageSource="ImageSource"></Carousel>
    </div>
    <div class="navegador-categorías">
        <BarraDeCategorias></BarraDeCategorias>
    </div>
    <div>
        <CartaDeProducto TieneDescuento="false" PrecioOriginalProducto="$20" NombreProducto="Nombre" RutaImagenProducto="Iconos/Busqueda.png"></CartaDeProducto>
    </div>

@code{
    private List<string> ImageSource { get; set; }
    protected override void OnInitialized()
    {
        ImageSource = new List<string>()
        {
            "Iconos/Busqueda.png",
            "Iconos/Busqueda.png",
            "Iconos/Busqueda.png",
            "Iconos/Busqueda.png",
            "Iconos/Busqueda.png"
        };
    }
}